* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenitor-titolo{
    display: flex;
}

#testo {
    background: red;
    color: white;
    width: 200px;
    height: 80px;
    margin-left: 30px;
    font-size: 25px;
}

.titolo {
    font-size : 60px;
}

#sottotitolo {
    display: none;
    width: 70%;
    font-size: 30px;
    margin-top: 30px;
}