* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cerchio{
    width: 600px;
    height: 600px;
    background: orange;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#live-coding{
    font-size: 80px;
    color: white;
    display: block;
}